body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:467px;
}
#u5258 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:467px;
}
#u5259 {
  position:absolute;
  left:2px;
  top:226px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
