body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1964px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u11961 {
  position:absolute;
  left:24px;
  top:18px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u11962 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u11963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:2px;
}
#u11963 {
  position:absolute;
  left:24px;
  top:65px;
  width:948px;
  height:1px;
}
#u11964 {
  position:absolute;
  left:2px;
  top:-8px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11965 {
  position:absolute;
  left:24px;
  top:83px;
  width:305px;
  height:305px;
}
#u11966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11966 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  text-align:right;
}
#u11967 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u11968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11968 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:50px;
}
#u11969 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11970 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:50px;
}
#u11971 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11972 {
  position:absolute;
  left:0px;
  top:50px;
  width:100px;
  height:50px;
  text-align:right;
}
#u11973 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u11974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11974 {
  position:absolute;
  left:100px;
  top:50px;
  width:100px;
  height:50px;
}
#u11975 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11976 {
  position:absolute;
  left:200px;
  top:50px;
  width:100px;
  height:50px;
}
#u11977 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11978 {
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:50px;
  text-align:right;
}
#u11979 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u11980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11980 {
  position:absolute;
  left:100px;
  top:100px;
  width:100px;
  height:50px;
}
#u11981 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11982 {
  position:absolute;
  left:200px;
  top:100px;
  width:100px;
  height:50px;
}
#u11983 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11984 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:50px;
  text-align:right;
}
#u11985 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u11986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11986 {
  position:absolute;
  left:100px;
  top:150px;
  width:100px;
  height:50px;
}
#u11987 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11988 {
  position:absolute;
  left:200px;
  top:150px;
  width:100px;
  height:50px;
}
#u11989 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11990 {
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:50px;
  text-align:right;
}
#u11991 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u11992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11992 {
  position:absolute;
  left:100px;
  top:200px;
  width:100px;
  height:50px;
}
#u11993 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11994 {
  position:absolute;
  left:200px;
  top:200px;
  width:100px;
  height:50px;
}
#u11995 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11996 {
  position:absolute;
  left:0px;
  top:250px;
  width:100px;
  height:50px;
  text-align:right;
}
#u11997 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u11998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u11998 {
  position:absolute;
  left:100px;
  top:250px;
  width:100px;
  height:50px;
}
#u11999 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u12000 {
  position:absolute;
  left:200px;
  top:250px;
  width:100px;
  height:50px;
}
#u12001 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12002 {
  position:absolute;
  left:124px;
  top:94px;
  width:517px;
  height:30px;
}
#u12002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12002_input:disabled {
  color:grayText;
}
#u12003 {
  position:absolute;
  left:124px;
  top:145px;
  width:253px;
  height:30px;
}
#u12003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12003_input:disabled {
  color:grayText;
}
#u12004 {
  position:absolute;
  left:388px;
  top:145px;
  width:253px;
  height:30px;
}
#u12004_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12004_input:disabled {
  color:grayText;
}
#u12005 {
  position:absolute;
  left:124px;
  top:193px;
  width:517px;
  height:30px;
}
#u12005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12006 {
  position:absolute;
  left:124px;
  top:238px;
  width:517px;
  height:30px;
}
#u12006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12006_input:disabled {
  color:grayText;
}
#u12007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12007 {
  position:absolute;
  left:124px;
  top:343px;
  width:848px;
  height:671px;
}
#u12008 {
  position:absolute;
  left:2px;
  top:328px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12009 {
  position:absolute;
  left:133px;
  top:350px;
  width:79px;
  height:30px;
}
#u12010 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u12011 {
  position:absolute;
  left:133px;
  top:390px;
  width:820px;
  height:230px;
}
#u12012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:45px;
}
#u12012 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:45px;
}
#u12013 {
  position:absolute;
  left:2px;
  top:14px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:45px;
}
#u12014 {
  position:absolute;
  left:53px;
  top:0px;
  width:598px;
  height:45px;
  text-align:left;
}
#u12015 {
  position:absolute;
  left:2px;
  top:14px;
  width:594px;
  word-wrap:break-word;
}
#u12016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:45px;
}
#u12016 {
  position:absolute;
  left:651px;
  top:0px;
  width:164px;
  height:45px;
}
#u12017 {
  position:absolute;
  left:2px;
  top:14px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:45px;
}
#u12018 {
  position:absolute;
  left:0px;
  top:45px;
  width:53px;
  height:45px;
}
#u12019 {
  position:absolute;
  left:2px;
  top:14px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:45px;
}
#u12020 {
  position:absolute;
  left:53px;
  top:45px;
  width:598px;
  height:45px;
  text-align:left;
}
#u12021 {
  position:absolute;
  left:2px;
  top:14px;
  width:594px;
  word-wrap:break-word;
}
#u12022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:45px;
}
#u12022 {
  position:absolute;
  left:651px;
  top:45px;
  width:164px;
  height:45px;
}
#u12023 {
  position:absolute;
  left:2px;
  top:14px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:45px;
}
#u12024 {
  position:absolute;
  left:0px;
  top:90px;
  width:53px;
  height:45px;
}
#u12025 {
  position:absolute;
  left:2px;
  top:14px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:45px;
}
#u12026 {
  position:absolute;
  left:53px;
  top:90px;
  width:598px;
  height:45px;
  text-align:left;
}
#u12027 {
  position:absolute;
  left:2px;
  top:14px;
  width:594px;
  word-wrap:break-word;
}
#u12028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:45px;
}
#u12028 {
  position:absolute;
  left:651px;
  top:90px;
  width:164px;
  height:45px;
}
#u12029 {
  position:absolute;
  left:2px;
  top:14px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:45px;
}
#u12030 {
  position:absolute;
  left:0px;
  top:135px;
  width:53px;
  height:45px;
}
#u12031 {
  position:absolute;
  left:2px;
  top:14px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:45px;
}
#u12032 {
  position:absolute;
  left:53px;
  top:135px;
  width:598px;
  height:45px;
  text-align:left;
}
#u12033 {
  position:absolute;
  left:2px;
  top:14px;
  width:594px;
  word-wrap:break-word;
}
#u12034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:45px;
}
#u12034 {
  position:absolute;
  left:651px;
  top:135px;
  width:164px;
  height:45px;
}
#u12035 {
  position:absolute;
  left:2px;
  top:14px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:45px;
}
#u12036 {
  position:absolute;
  left:0px;
  top:180px;
  width:53px;
  height:45px;
}
#u12037 {
  position:absolute;
  left:2px;
  top:14px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:45px;
}
#u12038 {
  position:absolute;
  left:53px;
  top:180px;
  width:598px;
  height:45px;
  text-align:left;
}
#u12039 {
  position:absolute;
  left:2px;
  top:14px;
  width:594px;
  word-wrap:break-word;
}
#u12040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:45px;
}
#u12040 {
  position:absolute;
  left:651px;
  top:180px;
  width:164px;
  height:45px;
}
#u12041 {
  position:absolute;
  left:2px;
  top:14px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12042 {
  position:absolute;
  left:142px;
  top:398px;
  width:36px;
  height:25px;
}
#u12042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12043 {
  position:absolute;
  left:142px;
  top:442px;
  width:36px;
  height:25px;
}
#u12043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12044 {
  position:absolute;
  left:142px;
  top:488px;
  width:36px;
  height:25px;
}
#u12044_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12045 {
  position:absolute;
  left:142px;
  top:532px;
  width:36px;
  height:25px;
}
#u12045_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12046 {
  position:absolute;
  left:142px;
  top:576px;
  width:36px;
  height:25px;
}
#u12046_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u12047 {
  position:absolute;
  left:795px;
  top:398px;
  width:72px;
  height:31px;
}
#u12048 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u12049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u12049 {
  position:absolute;
  left:878px;
  top:398px;
  width:62px;
  height:31px;
}
#u12050 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u12051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u12051 {
  position:absolute;
  left:795px;
  top:443px;
  width:72px;
  height:31px;
}
#u12052 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u12053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u12053 {
  position:absolute;
  left:878px;
  top:443px;
  width:62px;
  height:31px;
}
#u12054 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u12055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u12055 {
  position:absolute;
  left:796px;
  top:485px;
  width:72px;
  height:31px;
}
#u12056 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u12057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u12057 {
  position:absolute;
  left:879px;
  top:485px;
  width:62px;
  height:31px;
}
#u12058 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u12059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u12059 {
  position:absolute;
  left:796px;
  top:532px;
  width:72px;
  height:31px;
}
#u12060 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u12061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u12061 {
  position:absolute;
  left:879px;
  top:532px;
  width:62px;
  height:31px;
}
#u12062 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u12063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u12063 {
  position:absolute;
  left:796px;
  top:576px;
  width:72px;
  height:31px;
}
#u12064 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u12065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u12065 {
  position:absolute;
  left:879px;
  top:576px;
  width:62px;
  height:31px;
}
#u12066 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u12067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12067 {
  position:absolute;
  left:133px;
  top:625px;
  width:76px;
  height:16px;
  color:#FF0000;
}
#u12068 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u12069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12070 {
  position:absolute;
  left:188px;
  top:841px;
  width:765px;
  height:50px;
}
#u12071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:45px;
}
#u12071 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:45px;
}
#u12072 {
  position:absolute;
  left:2px;
  top:14px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:45px;
}
#u12073 {
  position:absolute;
  left:49px;
  top:0px;
  width:558px;
  height:45px;
  text-align:left;
}
#u12074 {
  position:absolute;
  left:2px;
  top:14px;
  width:554px;
  word-wrap:break-word;
}
#u12075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:45px;
}
#u12075 {
  position:absolute;
  left:607px;
  top:0px;
  width:153px;
  height:45px;
}
#u12076 {
  position:absolute;
  left:2px;
  top:14px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12077 {
  position:absolute;
  left:196px;
  top:848px;
  width:34px;
  height:25px;
}
#u12077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u12078 {
  position:absolute;
  left:806px;
  top:848px;
  width:67px;
  height:31px;
}
#u12079 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u12080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u12080 {
  position:absolute;
  left:883px;
  top:848px;
  width:58px;
  height:31px;
}
#u12081 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u12082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12082 {
  position:absolute;
  left:142px;
  top:951px;
  width:670px;
  height:32px;
  color:#FF0000;
}
#u12083 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  white-space:nowrap;
}
#u12084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u12085 {
  position:absolute;
  left:133px;
  top:651px;
  width:31px;
  height:31px;
}
#u12086 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u12087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12087 {
  position:absolute;
  left:164px;
  top:657px;
  width:106px;
  height:19px;
  font-size:16px;
}
#u12088 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u12089 {
  position:absolute;
  left:149px;
  top:682px;
  width:0px;
  height:0px;
}
#u12089_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u12089_seg1 {
  position:absolute;
  left:-4px;
  top:27px;
  width:43px;
  height:8px;
}
#u12090 {
  position:absolute;
  left:-46px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12091 {
  position:absolute;
  left:197px;
  top:721px;
  width:0px;
  height:0px;
}
#u12091_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u12091_seg1 {
  position:absolute;
  left:-4px;
  top:41px;
  width:33px;
  height:8px;
}
#u12092 {
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12093 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12094 {
  position:absolute;
  left:205px;
  top:702px;
  width:211px;
  height:19px;
  font-size:16px;
}
#u12095 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u12096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u12096 {
  position:absolute;
  left:188px;
  top:704px;
  width:17px;
  height:17px;
}
#u12097 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12098 {
  position:absolute;
  left:197px;
  top:721px;
  width:0px;
  height:0px;
}
#u12098_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u12098_seg1 {
  position:absolute;
  left:-4px;
  top:81px;
  width:32px;
  height:8px;
}
#u12099 {
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u12101 {
  position:absolute;
  left:133px;
  top:910px;
  width:31px;
  height:31px;
}
#u12102 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u12103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12103 {
  position:absolute;
  left:164px;
  top:916px;
  width:228px;
  height:19px;
  font-size:16px;
}
#u12104 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u12105 {
  position:absolute;
  left:149px;
  top:682px;
  width:0px;
  height:0px;
}
#u12105_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:184px;
}
#u12105_seg1 {
  position:absolute;
  left:-4px;
  top:176px;
  width:43px;
  height:8px;
}
#u12106 {
  position:absolute;
  left:-50px;
  top:102px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12107 {
  position:absolute;
  left:149px;
  top:682px;
  width:0px;
  height:0px;
}
#u12107_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:232px;
}
#u12108 {
  position:absolute;
  left:-50px;
  top:106px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12110 {
  position:absolute;
  left:226px;
  top:741px;
  width:727px;
  height:50px;
}
#u12111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:45px;
}
#u12111 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:45px;
}
#u12112 {
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:45px;
}
#u12113 {
  position:absolute;
  left:47px;
  top:0px;
  width:530px;
  height:45px;
  text-align:left;
}
#u12114 {
  position:absolute;
  left:2px;
  top:14px;
  width:526px;
  word-wrap:break-word;
}
#u12115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
}
#u12115 {
  position:absolute;
  left:577px;
  top:0px;
  width:145px;
  height:45px;
}
#u12116 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12117 {
  position:absolute;
  left:234px;
  top:750px;
  width:32px;
  height:25px;
}
#u12117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u12118 {
  position:absolute;
  left:812px;
  top:750px;
  width:64px;
  height:31px;
}
#u12119 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u12120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
}
#u12120 {
  position:absolute;
  left:885px;
  top:750px;
  width:55px;
  height:31px;
}
#u12121 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
#u12122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12123 {
  position:absolute;
  left:226px;
  top:786px;
  width:727px;
  height:50px;
}
#u12124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:45px;
}
#u12124 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:45px;
}
#u12125 {
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:45px;
}
#u12126 {
  position:absolute;
  left:47px;
  top:0px;
  width:530px;
  height:45px;
  text-align:left;
}
#u12127 {
  position:absolute;
  left:2px;
  top:14px;
  width:526px;
  word-wrap:break-word;
}
#u12128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
}
#u12128 {
  position:absolute;
  left:577px;
  top:0px;
  width:145px;
  height:45px;
}
#u12129 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12130 {
  position:absolute;
  left:234px;
  top:795px;
  width:32px;
  height:25px;
}
#u12130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u12131 {
  position:absolute;
  left:812px;
  top:794px;
  width:64px;
  height:31px;
}
#u12132 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u12133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
}
#u12133 {
  position:absolute;
  left:885px;
  top:794px;
  width:55px;
  height:31px;
}
#u12134 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
#u12135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12135 {
  position:absolute;
  left:208px;
  top:1053px;
  width:140px;
  height:40px;
}
#u12136 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:370px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12138 {
  position:absolute;
  left:184px;
  top:1134px;
  width:628px;
  height:370px;
}
#u12139 {
  position:absolute;
  left:2px;
  top:177px;
  width:624px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12140 {
  position:absolute;
  left:454px;
  top:1151px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12141 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12142 {
  position:absolute;
  left:207px;
  top:1190px;
  width:43px;
  height:16px;
}
#u12143 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12144 {
  position:absolute;
  left:260px;
  top:1190px;
  width:76px;
  height:16px;
}
#u12145 {
  position:absolute;
  left:16px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u12144_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12146 {
  position:absolute;
  left:346px;
  top:1190px;
  width:86px;
  height:16px;
}
#u12147 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u12146_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12148 {
  position:absolute;
  left:442px;
  top:1190px;
  width:86px;
  height:16px;
}
#u12149 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u12148_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12150 {
  position:absolute;
  left:538px;
  top:1190px;
  width:86px;
  height:16px;
}
#u12151 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u12150_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12152 {
  position:absolute;
  left:207px;
  top:1216px;
  width:563px;
  height:210px;
}
#u12153 {
  position:absolute;
  left:2px;
  top:97px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12154 {
  position:absolute;
  left:449px;
  top:1451px;
  width:98px;
  height:32px;
}
#u12155 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u12156 {
  position:absolute;
  left:217px;
  top:1226px;
  width:298px;
  height:31px;
}
#u12156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12157 {
  position:absolute;
  left:515px;
  top:1226px;
  width:114px;
  height:31px;
}
#u12158 {
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u12159 {
  position:absolute;
  left:217px;
  top:1267px;
  width:393px;
  height:16px;
}
#u12160 {
  position:absolute;
  left:16px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u12159_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12161 {
  position:absolute;
  left:217px;
  top:1293px;
  width:393px;
  height:16px;
}
#u12162 {
  position:absolute;
  left:16px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u12161_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12163 {
  position:absolute;
  left:217px;
  top:1319px;
  width:393px;
  height:16px;
}
#u12164 {
  position:absolute;
  left:16px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u12163_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12165 {
  position:absolute;
  left:217px;
  top:1345px;
  width:393px;
  height:16px;
}
#u12166 {
  position:absolute;
  left:16px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u12165_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12167 {
  position:absolute;
  left:1016px;
  top:283px;
  width:105px;
  height:55px;
}
#u12168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u12168 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  text-align:right;
}
#u12169 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u12170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:371px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12170 {
  position:absolute;
  left:1116px;
  top:288px;
  width:848px;
  height:371px;
}
#u12171 {
  position:absolute;
  left:2px;
  top:178px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12172 {
  position:absolute;
  left:1139px;
  top:303px;
  width:79px;
  height:30px;
}
#u12173 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u12174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12175 {
  position:absolute;
  left:1139px;
  top:347px;
  width:794px;
  height:50px;
}
#u12176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:45px;
}
#u12176 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:45px;
}
#u12177 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  word-wrap:break-word;
}
#u12178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:45px;
}
#u12178 {
  position:absolute;
  left:51px;
  top:0px;
  width:579px;
  height:45px;
  text-align:left;
}
#u12179 {
  position:absolute;
  left:2px;
  top:14px;
  width:575px;
  word-wrap:break-word;
}
#u12180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:45px;
}
#u12180 {
  position:absolute;
  left:630px;
  top:0px;
  width:159px;
  height:45px;
}
#u12181 {
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u12182 {
  position:absolute;
  left:1779px;
  top:356px;
  width:70px;
  height:31px;
}
#u12183 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u12184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
}
#u12184 {
  position:absolute;
  left:1859px;
  top:356px;
  width:60px;
  height:31px;
}
#u12185 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u12186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12187 {
  position:absolute;
  left:1139px;
  top:392px;
  width:794px;
  height:50px;
}
#u12188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:45px;
}
#u12188 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:45px;
}
#u12189 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  word-wrap:break-word;
}
#u12190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:45px;
}
#u12190 {
  position:absolute;
  left:51px;
  top:0px;
  width:579px;
  height:45px;
  text-align:left;
}
#u12191 {
  position:absolute;
  left:2px;
  top:14px;
  width:575px;
  word-wrap:break-word;
}
#u12192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:45px;
}
#u12192 {
  position:absolute;
  left:630px;
  top:0px;
  width:159px;
  height:45px;
}
#u12193 {
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u12194 {
  position:absolute;
  left:1779px;
  top:401px;
  width:70px;
  height:31px;
}
#u12195 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u12196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
}
#u12196 {
  position:absolute;
  left:1859px;
  top:401px;
  width:60px;
  height:31px;
}
#u12197 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u12198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12199 {
  position:absolute;
  left:1384px;
  top:467px;
  width:300px;
  height:171px;
}
#u12200 {
  position:absolute;
  left:2px;
  top:78px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12201 {
  position:absolute;
  left:1490px;
  top:481px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12202 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12203 {
  position:absolute;
  left:1423px;
  top:517px;
  width:100px;
  height:16px;
}
#u12204 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12203_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12205 {
  position:absolute;
  left:1423px;
  top:541px;
  width:100px;
  height:16px;
}
#u12206 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12205_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12207 {
  position:absolute;
  left:1423px;
  top:567px;
  width:100px;
  height:16px;
}
#u12208 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12207_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12209 {
  position:absolute;
  left:1499px;
  top:604px;
  width:82px;
  height:24px;
}
#u12210 {
  position:absolute;
  left:2px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u12211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u12211 {
  position:absolute;
  left:1655px;
  top:467px;
  width:29px;
  height:22px;
}
#u12212 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:370px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12214 {
  position:absolute;
  left:1266px;
  top:699px;
  width:628px;
  height:370px;
}
#u12215 {
  position:absolute;
  left:2px;
  top:177px;
  width:624px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12216 {
  position:absolute;
  left:1536px;
  top:716px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12217 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12218 {
  position:absolute;
  left:1531px;
  top:1016px;
  width:98px;
  height:32px;
}
#u12219 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u12220 {
  position:absolute;
  left:1299px;
  top:791px;
  width:298px;
  height:31px;
}
#u12220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12221 {
  position:absolute;
  left:1597px;
  top:791px;
  width:114px;
  height:31px;
}
#u12222 {
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u12223 {
  position:absolute;
  left:1299px;
  top:832px;
  width:393px;
  height:16px;
}
#u12224 {
  position:absolute;
  left:16px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u12223_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12225 {
  position:absolute;
  left:1299px;
  top:858px;
  width:393px;
  height:16px;
}
#u12226 {
  position:absolute;
  left:16px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u12225_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12227 {
  position:absolute;
  left:1299px;
  top:884px;
  width:393px;
  height:16px;
}
#u12228 {
  position:absolute;
  left:16px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u12227_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12229 {
  position:absolute;
  left:1299px;
  top:910px;
  width:393px;
  height:16px;
}
#u12230 {
  position:absolute;
  left:16px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u12229_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12231 {
  position:absolute;
  left:124px;
  top:293px;
  width:517px;
  height:30px;
}
#u12231_input {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
