body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1332px;
  height:927px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8129 {
  position:absolute;
  left:0px;
  top:0px;
  width:1332px;
  height:927px;
}
#u8130 {
  position:absolute;
  left:2px;
  top:456px;
  width:1328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1355px;
  height:463px;
}
#u8131 {
  position:absolute;
  left:-23px;
  top:0px;
  width:1355px;
  height:463px;
}
#u8132 {
  position:absolute;
  left:2px;
  top:224px;
  width:1351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(102, 102, 102, 0.349019607843137);
}
#u8133 {
  position:absolute;
  left:152px;
  top:473px;
  width:1002px;
  height:262px;
}
#u8134 {
  position:absolute;
  left:2px;
  top:123px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8135 {
  position:absolute;
  left:168px;
  top:491px;
  width:141px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8136 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u8137 {
  position:absolute;
  left:270px;
  top:567px;
  width:191px;
  height:25px;
}
#u8137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:2px;
}
#u8138 {
  position:absolute;
  left:168px;
  top:535px;
  width:946px;
  height:1px;
}
#u8139 {
  position:absolute;
  left:2px;
  top:-8px;
  width:942px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8140 {
  position:absolute;
  left:188px;
  top:569px;
  width:66px;
  height:16px;
}
#u8141 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8142 {
  position:absolute;
  left:270px;
  top:606px;
  width:191px;
  height:25px;
}
#u8142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8143 {
  position:absolute;
  left:174px;
  top:608px;
  width:80px;
  height:16px;
}
#u8144 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u8145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8145 {
  position:absolute;
  left:188px;
  top:648px;
  width:66px;
  height:16px;
}
#u8146 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8147 {
  position:absolute;
  left:270px;
  top:644px;
  width:191px;
  height:25px;
}
#u8147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8148 {
  position:absolute;
  left:194px;
  top:687px;
  width:60px;
  height:16px;
}
#u8149 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u8150 {
  position:absolute;
  left:270px;
  top:683px;
  width:191px;
  height:25px;
}
#u8150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(102, 102, 102, 0.349019607843137);
}
#u8151 {
  position:absolute;
  left:154px;
  top:758px;
  width:1002px;
  height:88px;
}
#u8152 {
  position:absolute;
  left:2px;
  top:36px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8153 {
  position:absolute;
  left:866px;
  top:812px;
  width:57px;
  height:16px;
}
#u8154 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u8155 {
  position:absolute;
  left:923px;
  top:806px;
  width:82px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u8156 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u8157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8157 {
  position:absolute;
  left:1031px;
  top:800px;
  width:109px;
  height:33px;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8158 {
  position:absolute;
  left:2px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
